@model IEnumerable<crm.Models.BlogPost>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar Post", "Criar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Img)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Slug)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Texto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Img)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        <img src="~/Image/Default/preview.jpg" class="img-thumbnail" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Slug)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Titulo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Texto)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Autor)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Img)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Data)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Status)
    </td>
    <td>
        @Html.ActionLink("Editar", "Editar", new { id = item.BlogPostId }) |
        @Html.ActionLink("Detalhes", "Detalhes", new { id = item.BlogPostId }) |
        @Html.ActionLink("Excluir", "Excluir", new { id = item.BlogPostId })
    </td>
</tr>
}

</table>
