@model crm.Models.BlogArtigo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BlogArtigo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BlogCategoria.Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogCategoria.Categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Texto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BlogArtigoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
